<h1>Angular Animations Owl Carousel Demo</h1>
<div (window:resize)="onResize()"></div>
<h2>ebay/amazon recently viewed objects style owl carousel</h2>
<div class="carousel" [@scroll]="{value: carouselScrollState, params: {leftPosition: carouselXPosition, time:animationTime}}"
(@scroll.done)="pause()" 
(mouseover)="showButtons()" (mouseout)="hideButtons()">
    <div class="item-carousel" id="item-carousel-1">1</div>
    <div class="item-carousel" id="item-carousel-2">2</div>
    <div class="item-carousel" id="item-carousel-3">3</div>
    <div class="item-carousel" id="item-carousel-4">4</div>
    <div class="item-carousel" id="item-carousel-5">5</div>
    <div class="item-carousel" id="item-carousel-6">6</div>
    <div class="item-carousel" id="item-carousel-7">7</div>
    <div class="item-carousel" id="item-carousel-8">8</div>
    <div class="item-carousel" id="item-carousel-9">9</div>
    <div class="item-carousel" id="item-carousel-10">10</div>
</div>
<div class="carousel-support">
    <button class="button-slide" id="button-slide-previous" 
        [@buttonsFade]="buttonsFadeState" 
        (click)="prevItems()" (mouseover)="showButtons()" 
        [disabled]="buttonDisabled">
        <fa-icon [icon]="leftArrowIcon" size="4x"></fa-icon> 
        <!-- <i class="fa fa-arrow-circle-o-left fa-5x" aria-hidden="true"> </i> -->
    </button>
    <button class="button-slide" id="button-slide-next" 
        [@buttonsFade]="buttonsFadeState" 
        (click)="nextItems()" (mouseover)="showButtons()"
        [disabled]="buttonDisabled">
        <fa-icon [icon]="rightArrowIcon" size="4x"></fa-icon>
        <!-- <i class="fa fa-arrow-circle-o-right fa-5x" aria-hidden="true"> </i> -->
    </button>
</div>